
@model TrashCollector.Models.CustomerScheduleViewModel

@if (Model.FutureDays.Count == 0)
{
    <p> You currently do not have any pickups scheduled.</p>
}
else
{
    <p> Here are your future pick ups. </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Day of the Week</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.FutureDays.Count; i++)
            {
                <tr>
                    <td>
                        @Model.FutureDays[i].Day.Date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Model.FutureDays[i].Day.Date.DayOfWeek
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "CustomerRemovePickUp", "Schedule", new { id = Model.FutureDays[i].UserDayId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<p>Your estimated Charges are $@(Model.FutureDays.Count*50)</p>

@Html.ActionLink("Add Pick Up", "AddPickUp", "Schedule")
@if (Model.PastDays.Count == 0)
{
    <p> You do not have any previous pick ups.</p>
}
else
{
    <p> Here are your previous pick ups.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Day of the Week</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PastDays.Count; i++)
        {
            <tr>
                <td>
                    @Model.PastDays[i].Day.Date.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Model.PastDays[i].Day.Date.DayOfWeek
                </td>
            </tr>
        }
    </tbody>
</table>
}
@if (Model.CanceledDays.Count == 0)
{
    <p> You do not have any canceled pick ups.</p>
}
else
{
    <p> Here are your previous cancellations.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Day of the Week</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CanceledDays.Count; i++)
        {
            <tr>
                <td>
                    @Model.CanceledDays[i].Day.Date.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Model.CanceledDays[i].Day.Date.DayOfWeek
                </td>
            </tr>
        }
    </tbody>
</table>}